{% load staticfiles %}

<img src = "https://upload.wikimedia.org/wikipedia/en/f/f9/International_Technological_University.jpg" class = 'img_responsive' align="left" height='110px' width="110px" />

<link rel="stylesheet" href="{% static 'css/annotations.css' %}">
<div id="header" align="center" >
<br>
	<h1>PlagCheck  </h1>
	<h3>ITU's Plagarism Checker !!!</h3>
	<hr>
	<nav>
			<div id=box2>
				<div>
					{% if user.is_authenticated  %}
					<br>
					<ul class="dropdown-menu" aria-labelledby="usermenu">
						<a href="/accounts/profile/">Dashboard</a>&nbsp; &nbsp;&nbsp;&nbsp;
						<a href="/test/">Test</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/upload/">Upload</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/accounts/settings/">Update</a>&nbsp;&nbsp;&nbsp;
						<a href="/accounts/logout/">Log Out</a>&nbsp;&nbsp;&nbsp;
						{% if user.is_staff %}
							<li><a href="/admin/">Admin Site</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
						{% endif %}
					</ul>
					{% else %}
					<div class="btn-group" role="group" aria-label="usermgmt">
						<a href="/accounts/register/" class="btn btn-primary" id="registerButton">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/accounts/login/" class="btn btn-primary" id="loginButton">Log In</a>&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					{% endif %}
				</div>
			</div><!--/.nav-collapse -->

	</nav>
	<br><br>
</div>

